.item-image-icon {
    height: 40px;
    border-radius: 20px;
}

.trade-list-tile{
    display: grid;
    width: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile-grid-top{
    grid-row: 1;
    grid-column: 1/4;
    background-color: #ffc518;
}

.trade-tile-text{
    align-self: center;
}

.row-two {
    grid-row: 2;
}

.open{
    grid-row: 1;
    grid-column: 4;
}

.closed-rejected{
    grid-row: 1;
    grid-column: 4;
}
.closed-accepted{
    grid-row: 1;
    grid-column: 4;
}

.trade-list-tile:hover{
    background-color: rgb(227, 227, 227);
}

.status-dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-right: 4px;
}

.open {
    background-color: blue;
}

.pending {
    background-color: yellow;
}

.accepted {
    background-color: rgb(0, 214, 0);
}

.closed-rejected{
    background-color: red;
}

.closed-accepted{
    background-color: grey;
}
