.sign-up-form-modal {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-spacer {
    height: 32px;
    display: flex;
    align-items: flex-end;
}

.signup-submit-button {
    background-color: aqua;
    margin-top: 8px;
    border-radius: 8px;
}
