/* TODO: Add sitewide styles */

/* https://fonts.google.com/selection?query=Poppins&stroke=Sans+Serif */

.error {
    color: red
}

div {
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;
}

.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center-child{
    display: flex;
    justify-content: center;
}

.margin-4px{
    margin: 4px;
}

.login-signup-buttons {
    margin-top: 8px;
    border: none;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.login-signup-buttons:hover {
    margin-top: 8px;
    border: none;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #2356c4;
    color: white;
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (max-width: 950px) {
    .gvwordmark {
      display: none;
    }
    .gvlettermark {
        align-self: center;
        justify-self: center;
    }
}
