/* TODO: Add sitewide styles */

/* https://fonts.google.com/selection?query=Poppins&stroke=Sans+Serif */

.error {
    color: red
}

div {
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;
}

.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center-child{
    display: flex;
    justify-content: center;
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (min-width: 900px) {
    .all-item-tiles-container {
      width: 900px;
    }
}

@media (max-width: 950px) {
    .gvwordmark {
      display: none;
    }
    .gvlettermark {
        align-self: center;
        justify-self: center;
    }
}
