.profile-dropdown {
  position: absolute;
  background-color: aqua;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
  height: 50px;
  background-color: #ffc518;
  color:rgb(150, 0, 209);
  align-items: center;
}

.gvwordmark {
  height: 60px;
  width: auto;
  margin-top: 8px;
  margin-left: 16px;
}

.gvlettermark {
  height: 48px;
  width: auto;
  margin-bottom: 6px;
  margin-left: 8px;
}

.nav-button{
  height: 30px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2356c4;
  height: 28px;
  border-radius: 8px;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.nav-button:hover{
  color: #c7c7c7;
  cursor: pointer;
  transition: 100ms;
  background-color: #1b449b;
}

.profile-button {
  margin-right: 100px;
}

.top-nav-buttons{
  display: flex;
  flex-direction: row;
}
