{% extends "index.html" %}

{% block content %}
{{ form.csrf_token }}
<div>
    <h2>Create a New Item</h2>
    <form method="post", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- title -->
        <p>{{ form.name.label }}: {{ form.name() }}</p>
        <p>{% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</p>
        <!-- private -->
        <p>{{ form.private.label }}: {{ form.private() }}</p>
        <p>{% for error in form.private.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</p>

        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}
