.item-details-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    grid-template-rows: 80px auto auto;

    width: auto;
}

.item-details-title{
    grid-row: 1;
    grid-column: span 2;
}

.item-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;

}

.item-details-image {
    height: 250px;
    width: auto;
}

.item-detail-key {
    font-weight: bolder;
    color: white;
    background-color: #c7c7c7;
    padding-left: 8px;
}

.item-detail-value {
    padding-left: 8px;
}

.item-details-page-details{
    border: solid;
    border-width: 1px;
    width: 400px;
    padding: 8px;
    grid-column: 2;
    grid-row: 2;
}

.item-details-trade-button {
    grid-column: 2;
    grid-row: 3;
}

.trade-and-add-to-list-buttons {
    border-top: solid;
    border-width: 1px;
    margin-top: 4px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.padding-left-8{
    padding-left: 8px;
}
