.item-details-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    grid-template-rows: repeat(8, 1fr);
    width: auto;
}

.item-details-title{
    grid-row: 1;
}

.item-images-container{
    grid-column: 1;
    grid-row: 2;
}

.item-details-image {
    height: 250px;
    width: auto;
}

.item-detail-key {
    font-weight: bolder;
}

.item-details-page-details{
    border: solid;
    border-width: 1px;
    width: 400px;
    padding: 8px;
    grid-column: 2;
    grid-row: 2;
}

.item-details-trade-button {
    grid-column: 2;
    grid-row: 3;
}
